* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#eeefeafa, #eaf, #eeeaffff);
}

.nav-links {
  background-color: white;
  transition: 0.8s;
}

img {
  width: 100%;
  height: 100%;
}
